<?xml version="1.0"?>
<config>
    <modules>
        <Compropago>
            <version>1.0.0</version>
        </Compropago>
    </modules>  
  
    <global>        
        <models>
            <compropago>
                <class>Compropago_Model</class>
            </compropago>
        </models>   
        <helpers>
            <compropago>
                <class>Compropago_Helper</class>
            </compropago>
        </helpers>  
        <resources>
            <compropago>
                <setup>
                    <module>Compropago</module>
                </setup>
            </compropago>
        </resources>                     
        <blocks>
            <compropago>
                <class>Compropago_Block</class>
            </compropago>
        <checkout>
                <rewrite>
                    <onepage_success>Compropago_Block_OnepageSuccess</onepage_success>
                </rewrite>
            </checkout>
        </blocks>                
        <payment>
            <groups>
                <compropago>Compropago</compropago>
            </groups>
        </payment>       
    </global>
    
    <frontend>        
        <routers>
            <compropago>
                <use>standard</use>
                <args>
                    <module>Compropago</module>
                    <frontName>compropago</frontName>
                </args>
            </compropago>
        </routers>        
        <layout>
            <updates>
                <compropago>
                    <file>compropago.xml</file>
                </compropago>
            </updates>
        </layout>
    </frontend>
    
    <default>
       <payment>        
        <compropago>
            <payment_action>sale</payment_action>
            <model>compropago/standard</model>
            <status>pending</status>
            <title>Pago en efectivo - ComproPago</title>
            <provider>1</provider>
            <order_status_new>pending</order_status_new>
            <order_status_approved>processing</order_status_approved>
            <order_status_refunded>refunded</order_status_refunded>
            <order_status_in_process>pending</order_status_in_process>
            <order_status_in_mediation>pending</order_status_in_mediation>
            <order_status_rejected>rejected</order_status_rejected>
            <order_status_cancelled>cancelled</order_status_cancelled>
        </compropago>        
       </payment>
     </default>
          
</config>