<?xml version="1.0"?>
<config>
    <modules>
        <ComproPago_Spei>
            <version>3.0.0.0</version>
        </ComproPago_Spei>
    </modules>

    <global>
        <fieldsets>
            <sales_convert_quote_payment>
                <custom_field_one>
                    <to_order_payment>*</to_order_payment>
                </custom_field_one>
                <custom_field_two>
                    <to_order_payment>*</to_order_payment>
                </custom_field_two>
            </sales_convert_quote_payment>
        </fieldsets>

        <blocks>
            <spei>
                <class>ComproPago_Spei_Block</class>
            </spei>
        </blocks>

        <helpers>
            <spei>
                <class>ComproPago_Spei_Helper</class>
            </spei>
        </helpers>

        <models>
            <spei>
                <class>ComproPago_Spei_Model</class>
            </spei>
        </models>

        <events>
            <sales_order_payment_save_after>
                <observers>
                    <spei>
                        <class>spei/observer</class>
                        <method>setAdditionalInformation</method>
                    </spei>
                </observers>
            </sales_order_payment_save_after>
        </events>
    </global>

    <frontend>
        <layout>
            <updates>
                <compropago_spei>
                    <file>spei.xml</file>
                </compropago_spei>
            </updates>
        </layout>
    </frontend>

    <default>
        <payment>
            <spei>
                <active>1</active>
                <model>spei/spei</model>
                <title>Transferencia Bancaria</title>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
                <sort_order>2</sort_order>
            </spei>
        </payment>
    </default>
</config>