<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <payment>
            <groups>
                <cppayment translate="label" module="cppayment">
                    <label>Compropago Payment Extension</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>

                        <active translate="label">
                            <label>Habilitar</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>

                        <compropago_title translate="label">
                            <label>Título</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </compropago_title>

                        <compropago_show_title_logo translate="label">
                            <label>Mostrar Logo ComproPago</label>
                            <comment>Mostrara el logo de ComproPago como titulo del metodo de pago</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </compropago_show_title_logo>

                        <compropago_publickey translate="label">
                            <label>Llave Publica</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </compropago_publickey>

                        <compropago_privatekey translate="label">
                            <label>Llave Privada</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </compropago_privatekey>

                        <compropago_mode translate="label">
                            <label>Modo activo</label>
                            <frontend_type>select</frontend_type>
                            <comment>Estas generando pruebas? cambia a 'no'</comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </compropago_mode>

                        <compropago_showlogo translate="label">
                            <label>Habilitar logos de tiendas</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </compropago_showlogo>

                        <compropago_provider_available translate="label">
                            <label>Seleccionar Proveedores de pago</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>cppayment/providers</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </compropago_provider_available>


                        <!-- ORDER STATUS -->

                        <compropago_order_status_new translate="label">
                            <label>Estatus nuevas ordenes</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>19</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </compropago_order_status_new>

                        <compropago_order_status_approved translate="label">
                            <label>Estatus ordenes aprobadas</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </compropago_order_status_approved>

                        <compropago_order_status_in_process translate="label">
                            <label>Estatus ordenes pendientes</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </compropago_order_status_in_process>

                        <compropago_order_status_cancelled translate="label">
                            <label>Estatus ordenes canceladas</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>23</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </compropago_order_status_cancelled>
                    </fields>
                </cppayment>
            </groups>
        </payment>
    </sections>
</config>
