#cppayment_store {
    background: url(https://compropago.com/assets/terminal/select-input.png) no-repeat;
    width: 298px;
    height: 39px;
    position: relative;
    background-size: 100% auto;
    max-width: 100%
}
#cppayment_store .provider-select {
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    background: none;
    height: 100%;
    width: 100%;
    padding-left: 62px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 14px;
    background-size: auto 70%;
    background-position: 2px 6px;
    background-repeat: no-repeat
}
#payment_form_cppayment h2 {
    font-size: 16px;
    margin: .5em 0
}
#cppayment_store.stores-compact {
    background: none;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: auto
}
#cppayment_store.stores-compact .cp-provider {
    display: block;
    width: 75px;
    margin-right: 12px;
    margin-bottom: 12px;
    border-radius: 3px;
    position: relative;
    transition: all .2s linear;
    box-shadow: none
}
#cppayment_store.stores-compact .cp-provider.cp-selected {
    box-shadow: 0 0 6px 3px #00aaef
}
#cppayment_store.stores-compact .cp-provider img {
    display: block;
    margin: 0 auto;
    float: none;
    width: 100%
}
